# Web service RPC provider for Ethereum
REACT_APP_ETH_WS_PROVIDER=

# Web service RPC provider for Fantom
REACT_APP_FTM_WS_PROVIDER=

# Web service RPC provider for Fantom
REACT_APP_FTM_WS_PROVIDER2=
REACT_APP_FTM_WS_PROVIDER3=
REACT_APP_FTM_USER=
REACT_APP_FTM_PASS=

# Private simulation base URL
REACT_APP_FORK_BASE_URL=
