.header {
    width: 90%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #006994;
    padding: 0 10%;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1rem;
    color: #fcb8d2;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  