.vaults-list {
  @apply max-w-full;
}

.vaults-list {
  @apply max-w-full p-2 sm:p-4 grid grid-flow-row grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
}

.vaults-list .tile {
  @apply mb-6;
}

.vaults-list .tile .title-button {
  @apply flex items-center justify-between
    px-4 py-2
    hover:bg-selected-200 
    dark:hover:bg-selected-600 
    active:transform active:scale-[98%]
    rounded-full cursor-pointer;
}

.vaults-list .tile .title-button .title {
  @apply text-xl font-bold;
}

.vaults-list .tile .title-button .version {
  @apply inline px-4 py-[2px] text-sm 
    bg-primary-200
    dark:bg-primary-900
    rounded-full;
}

.vaults-list .tile .title-button:hover .version {
  @apply bg-transparent;
}

.vaults-list .tile .address {
  @apply pl-2;
}

.vaults-list .tile .address .copy {
  @apply flex items-center justify-between
    my-2 pl-4
    px-2
    hover:bg-selected-200 
    dark:hover:bg-selected-600 
    active:transform active:scale-[98%]
    rounded-full cursor-pointer;
}

.vaults-list .tile .address .copy .icon {
  @apply ml-2;
}

.vaults-list .tile .network {
  @apply mr-2 px-4 py-[2px] text-sm capitalize rounded-full;
}

.vaults-list .tile .ethereum {
  @apply bg-ethereum-200
    dark:bg-ethereum-500;
}

.vaults-list .tile .fantom {
  @apply bg-fantom-200
    dark:bg-fantom-600;
}

.vaults-filter {
  @apply sticky top-0;
}

.vaults-filter input[type=text] {
  @apply w-full border py-2 px-3 border-secondary-600 bg-transparent rounded-full leading-tight
    text-primary-900
    dark:text-primary-200
    focus:border-primary-200 focus:outline-none;
}

.vaults-filter .chip {
  @apply ml-2 px-4 py-1 border-2 text-sm capitalize rounded-full cursor-pointer 
    active:transform active:scale-95;
}

.vaults-filter .chip:first-child {
  @apply ml-0;
}

.vaults-filter .chip-curve {
  @apply border-curve-200 dark:border-curve-700 dark:text-curve-500
    hover:border-curve-400 hover:dark:border-curve-600 hover:dark:text-curve-400;
}

.vaults-filter .hot-curve {
  @apply bg-curve-200 text-curve-900 dark:bg-curve-700 dark:text-curve-100 shadow-sm
    hover:dark:bg-curve-600 hover:dark:text-curve-100;
}

.vaults-filter .chip-ethereum {
  @apply border-ethereum-200 dark:border-ethereum-600 dark:text-ethereum-500
    hover:border-ethereum-400 hover:dark:border-ethereum-500 hover:dark:text-ethereum-400;
}

.vaults-filter .hot-ethereum {
  @apply bg-ethereum-200 text-ethereum-900 dark:bg-ethereum-600 dark:text-ethereum-100 shadow-sm
    hover:dark:bg-ethereum-500 hover:dark:text-ethereum-100;
}

.vaults-filter .chip-fantom {
  @apply border-fantom-200 dark:border-fantom-800 dark:text-fantom-500
    hover:border-fantom-400 hover:dark:border-fantom-600 hover:dark:text-fantom-400;
}

.vaults-filter .hot-fantom {
  @apply bg-fantom-200 text-fantom-900 dark:bg-fantom-800 dark:text-fantom-100 shadow-sm
    hover:dark:bg-fantom-600 hover:dark:text-fantom-100;
}