@tailwind utilities;

.vaults-list {
  @apply max-w-full;
}

.vaults-list {
  @apply max-w-full p-2 sm:p-4 grid grid-flow-row gap-2 grid-cols-1 sm:gap-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
}

.vault-tile {
  @apply hover:shadow-md dark:hover:shadow-[0_0_24px_-10px_rgba(203,213,225,0.16)]
  rounded-lg
  transition duration-200;
}

.vault-tile .footer .left, 
.vault-tile .footer .center, 
.vault-tile .footer .right, 
.vault-tile .main {
  @apply bg-white dark:bg-secondary-900/80 
    hover:bg-selected-100 dark:hover:bg-secondary-800
    border-secondary-200 dark:border-secondary-800
    active:transform active:scale-[98%]
    transition duration-200
    cursor-pointer;
}

.vault-tile .main {
  @apply px-4 pt-4 pb-4 flex flex-col 
    border-2
    border-b-0
    rounded-tl-lg rounded-tr-lg;
}

.vault-tile .main.full {
  @apply rounded pb-6 border-b-2;
}

.vault-tile .main .title {
  @apply text-lg font-bold;
}

.vault-tile .main .body {
  @apply flex gap-4;
}

.vault-tile .strategies {
  @apply w-36 text-sm 
  text-secondary-900 dark:text-secondary-500
  transition duration-200;
}

.vault-tile .main .info {
  @apply mt-3 flex flex-col gap-2 items-start;
}

.vault-tile .main .info .chips {
  @apply flex gap-2 items-center;
}

.vault-tile .main .info .chips .chip {
  @apply px-2 py-1 text-xs capitalize rounded drop-shadow-sm;
}

.vault-tile .main .info .chips .little-chip {
  @apply h-fit px-2 py-[1px] text-xs rounded;
}
.vault-tile .main .chart{
  @apply pt-2 flex w-full;
}
.vault-tile .main .chart div {
  @apply w-full border border-dashed border-secondary-300 dark:border-secondary-800 rounded;
}

.vault-tile .footer {
  @apply flex items-center justify-between
  text-secondary-900 dark:text-secondary-500;
}

.vault-tile .footer .left, 
.vault-tile .footer .center, 
.vault-tile .footer .right {
  @apply p-4 flex items-center justify-center text-sm;
}

.vault-tile .footer .left, 
.vault-tile .footer .right {
  @apply basis-1/4;
}

.vault-tile .footer .center {
  @apply basis-1/2 border-b-2;
}

.vault-tile .footer .left {
  @apply rounded-bl-lg 
  border-l-2 border-b-2;
}

.vault-tile .footer .right {
  @apply rounded-br-lg 
  no-underline
  border-b-2 border-r-2;
}

.vault-tile .version {
  @apply bg-primary-200 dark:bg-primary-900;
}

.vault-tile .ethereum {
  @apply bg-ethereum-200
    dark:bg-ethereum-500;
}

.vault-tile .fantom {
  @apply bg-fantom-200
    dark:bg-fantom-600;
}

.vault-tile .favorite {
  @apply fill-attention-400;
}