.bg-ethereum {
  @apply bg-zinc-400
  dark:bg-zinc-500;
}

.bg-fantom {
  @apply bg-indigo-400
  dark:bg-indigo-600;
}

.bg-optimism {
  @apply bg-red-400
  dark:bg-red-600;
}

.bg-arbitrum {
  @apply bg-[#28a1ef]
  dark:bg-[#28a1ef];
}