@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary-900;
}

input, textarea, select {
  @apply text-secondary-900
  dark:text-secondary-900
  transition duration-200;
}

a {
  @apply underline underline-offset-2 
  hover:text-primary-400
  dark:hover:text-selected-400
  transition duration-200;
}

a.plain {
  @apply hover:text-secondary-900 dark:hover:text-secondary-200;
}

button, select {
  @apply bg-primary-200 hover:bg-selected-300 
  dark:bg-primary-900/40 dark:hover:bg-selected-600
  active:transform active:scale-95
  rounded
  cursor-pointer
  transition duration-200;
}

button {
  @apply py-[calc(.5rem-2px)] px-[calc(1rem-2px)] border-2 border-transparent;
}

select {
  @apply py-2 px-4;
}

button:disabled, select:disabled {
  @apply text-gray-800 dark:text-gray-400
  bg-gray-200 dark:bg-gray-800
  active:transform active:scale-100;
}

.root {
  @apply text-secondary-900 dark:text-secondary-200;
}

.button-ring-container {
  @apply relative;
}

.button-ring {
  @apply absolute z-[-1] w-full h-full border-transparent border-2 rounded;
}

.button-ring.default {
  @apply border-primary-400 animate-pulse;
}

button.big {
  @apply px-8 text-2xl;
}

button.iconic {
  @apply flex items-center justify-center before:content-['\00A0'] after:content-['\00A0'];
}

button.iconic svg {
  @apply mr-3 stroke-secondary-600 dark:stroke-secondary-300;
}

button.big.iconic svg {
  @apply mr-3;
}

button.iconic.no-text svg, button.big.iconic.no-text svg {
  @apply m-0;
}

button:disabled svg {
  @apply stroke-gray-500 dark:stroke-gray-400 pointer-events-none;
}

select {
  @apply border-0 pr-12 text-secondary-900 dark:text-secondary-200 active:scale-100;
}

.bg {
  @apply fixed top-0 z-0 w-full h-full
  bg-white dark:bg-gradient-to-br dark:from-indigo-900 dark:via-secondary-900 dark:to-secondary-900
  dark:sm:bg-gradient-radial-to-br dark:sm:from-indigo-900 dark:sm:via-secondary-900 dark:sm:to-secondary-900;
}

.alert {
  @apply text-attention-300;
}

.dialog-container {
  @apply fixed z-[100] top-0 left-0 right-0 h-full 
  flex items-center justify-center 
  bg-secondary-900/40
  backdrop-blur-md;
}

.dialog {
  @apply relative w-full h-full p-2
  flex flex-col justify-end
  bg-secondary-100 
  dark:bg-secondary-900
  sm:px-8 sm:py-4;
}

.dialog .header {
  @apply min-h-[42px] max-h-[42px] sm:min-h-[58px] sm:max-h-[58px] flex items-center justify-between;
}

.dialog .tiles {
  @apply grow overflow-y-auto my-4 grid grid-flow-row gap-2 grid-cols-1 
  sm:gap-8 md:grid-cols-3 2xl:grid-cols-4;
}

.dialog .inputs {
  @apply grow mb-4 overflow-y-auto ;
}

.dialog .inputs .scroll-container {
  @apply min-h-full flex flex-col items-center justify-center;
}

.dialog .inputs .input {
  @apply relative my-4 w-4/5 md:w-2/5;
}

.dialog .inputs .input input[type=text] {
  @apply w-full py-2 px-2 text-lg border-transparent leading-tight
  bg-gray-300
  text-primary-900
  focus:border-primary-400 focus:bg-gray-200 focus:ring-0
  dark:bg-gray-800
  dark:text-white
  focus:dark:border-primary-400 focus:dark:bg-gray-700 focus:ring-0
  rounded-md shadow-inner;
}

.dialog .inputs .input .validation {
  @apply absolute z-10 ml-4 -right-7;
}

.dialog .inputs .input .validation .valid {
  @apply fill-ok-400;
}

.dialog .inputs .input .validation .invalid {
  @apply fill-error-600;
}

.chip-version {
  @apply bg-primary-200 dark:bg-primary-900;
}

.chip-curve {
  @apply bg-curve-200 dark:bg-curve-600;
}

.chip-ethereum {
  @apply bg-ethereum-200
  dark:bg-ethereum-500;
}

.chip-fantom {
  @apply bg-fantom-200
  dark:bg-fantom-600;
}

.filter {
  @apply sticky top-0 z-10;
}

.filter input[type=text] {
  @apply w-full py-2 px-3 bg-transparent rounded leading-tight
  text-primary-900
  dark:text-primary-200
  focus:border-primary-400 focus:ring-0
  border-2 dark:border 
  border-secondary-200 dark:border-secondary-500
  shadow-inner;
}

.filter input[type=text]:focus {
  @apply dark:border-blue-400;
}

.filter .chip {
  @apply px-4 py-1 border-2 text-sm capitalize rounded cursor-pointer 
  active:transform active:scale-95
  transition duration-200;
}

.filter .chip.iconic {
  @apply aspect-square border px-[.475rem] py-0 flex items-center;
}

.filter .chip.favorite {
  @apply border-2 dark:border border-attention-200 dark:border-attention-700
  hover:border-attention-400 hover:dark:border-attention-400;
}

.filter .chip.favorite svg {
  @apply fill-attention-800 dark:fill-attention-700;
}

.filter .chip.favorite.hot {
  @apply bg-attention-200 dark:bg-transparent
  border-attention-200 dark:border-attention-700
  hover:border-attention-400 hover:dark:border-attention-400;
}

.filter .chip.favorite.hot svg {
  @apply fill-attention-600 dark:fill-attention-400 glow-attention-md;
}

.filter .chip:first-child {
  @apply ml-0;
}

.filter .chip-curve {
  @apply bg-transparent dark:bg-transparent
  border-curve-200 dark:border-curve-700 dark:text-curve-500
  hover:border-curve-400 hover:dark:border-curve-600 hover:dark:text-curve-400;
}

.filter .hot-curve {
  @apply bg-curve-200 text-curve-900 dark:bg-curve-700 dark:text-curve-100 shadow-sm
  hover:dark:bg-curve-600 hover:dark:text-curve-100;
}

.filter .chip-ethereum {
  @apply bg-transparent dark:bg-transparent 
  border-ethereum-200 dark:border-ethereum-600 dark:text-ethereum-500
  hover:border-ethereum-400 hover:dark:border-ethereum-500 hover:dark:text-ethereum-400;
}

.filter .hot-ethereum {
  @apply bg-ethereum-200 text-ethereum-900 dark:bg-ethereum-600 dark:text-ethereum-100 shadow-sm
  hover:dark:bg-ethereum-500 hover:dark:text-ethereum-100;
}

.filter .chip-fantom {
  @apply bg-transparent dark:bg-transparent
  border-fantom-200 dark:border-fantom-800 dark:text-fantom-500
  hover:border-fantom-400 hover:dark:border-fantom-600 hover:dark:text-fantom-400;
}

.filter .hot-fantom {
  @apply bg-fantom-200 text-fantom-900 dark:bg-fantom-800 dark:text-fantom-100 shadow-sm
  hover:dark:bg-fantom-600 hover:dark:text-fantom-100;
}

.sm-tb-icon-button {
  @apply p-0 w-[26px] h-[26px] flex items-center justify-center rounded-full;
}

.sm-tb-icon-button svg {
  @apply stroke-secondary-600 dark:stroke-secondary-300;
}

.sm-circle-icon-button {
  @apply w-6 h-6 
  flex items-center justify-center
  hover:bg-primary-200 
  dark:hover:bg-primary-600 
  active:transform active:scale-90
  rounded-full cursor-pointer
  transition duration-200;
}

.md-circle-icon-button {
  @apply w-12 h-12 text-4xl
  flex items-center justify-center
  hover:bg-primary-200 
  dark:hover:bg-primary-600 
  active:transform active:scale-90
  rounded-full cursor-pointer
  transition duration-200;
}

.lg-circle-icon-button {
  @apply w-16 h-16 text-4xl
  flex items-center justify-center
  hover:bg-primary-200
  dark:hover:bg-primary-600 
  active:transform active:scale-90
  rounded-full cursor-pointer
  transition duration-200;
}

.rainbow-text {
  @apply bg-clip-text text-transparent 
  bg-gradient-to-r 
  from-purple-500 to-pink-500;
}