@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary-900;
}

input, textarea {
  @apply text-secondary-900
  dark:text-secondary-900
  transition duration-200;
}

a {
  @apply underline underline-offset-2 
  hover:text-selected-500
  dark:hover:text-selected-400
  transition duration-200;
}

a.plain {
  @apply hover:text-secondary-900 dark:hover:text-secondary-200;
}

button, select {
  @apply bg-primary-500 text-secondary-50 hover:bg-selected-400 
  dark:bg-primary-900/40 dark:hover:bg-selected-600
  active:transform active:scale-95
  rounded-lg
  cursor-pointer
  transition duration-200;
}

button {
  @apply py-[calc(.5rem-2px)] px-[calc(1rem-2px)] border-2 border-transparent;
}

select {
  @apply py-2 px-4;
}

button:disabled, select:disabled {
  @apply text-secondary-400 dark:text-secondary-500
  bg-gray-200 dark:bg-gray-800
  active:transform active:scale-100;
}

.root {
  @apply text-secondary-900 dark:text-secondary-200;
}

.button-ring-container {
  @apply relative;
}

.button-ring {
  @apply absolute z-[-1] w-full h-full border-transparent border-2 rounded;
}

.button-ring.default {
  @apply border-primary-400 animate-pulse;
}

button.big {
  @apply px-8 text-2xl;
}

button.iconic {
  @apply flex items-center justify-center before:content-['\00A0'] after:content-['\00A0'];
}

button.iconic svg {
  @apply mr-3 stroke-secondary-50 dark:stroke-secondary-300;
}

button.big.iconic svg {
  @apply mr-3;
}

button.iconic.no-text svg, button.big.iconic.no-text svg {
  @apply m-0;
}

button:disabled svg {
  @apply stroke-gray-500 dark:stroke-gray-400 pointer-events-none;
}

select {
  @apply border-0 pr-12 active:scale-100;
}

.bg {
  @apply fixed top-0 z-0 w-full h-full
  bg-gradient-to-br from-indigo-50 via-secondary-50 to-secondary-50
  sm:bg-gradient-radial-to-br sm:from-indigo-50 sm:via-secondary-50 sm:to-secondary-50
  dark:bg-gradient-to-br dark:from-indigo-900 dark:to-black
  dark:sm:bg-gradient-radial-to-br dark:sm:from-indigo-900 dark:sm:via-secondary-900 dark:sm:to-black;
}

.bg-version {
  @apply bg-primary-400
  dark:bg-primary-900;
}

.dialog-container {
  @apply fixed z-[100] top-0 left-0 right-0 h-full 
  flex items-center justify-center 
  bg-secondary-50 dark:bg-secondary-900;
}

.dialog {
  @apply relative w-full h-full p-2
  flex flex-col justify-end
  sm:px-8 sm:py-4;
}

.dialog .header {
  @apply min-h-[42px] max-h-[42px] sm:min-h-[58px] sm:max-h-[58px] flex items-center justify-between;
}

.dialog .tiles {
  @apply grow overflow-y-auto my-4 grid grid-flow-row gap-2 grid-cols-1 
  sm:gap-8 md:grid-cols-3 2xl:grid-cols-4;
}

.dialog .inputs {
  @apply grow mb-4 overflow-y-auto ;
}

.dialog .inputs .scroll-container {
  @apply min-h-full flex flex-col items-center justify-center;
}

.dialog .inputs .input {
  @apply relative my-4 w-4/5 md:w-2/5;
}

.dialog .inputs .input input[type=text] {
  @apply w-full py-2 px-2 text-lg border-transparent leading-tight
  bg-gray-300
  text-primary-900
  focus:border-primary-400 focus:bg-gray-200 focus:ring-0
  dark:bg-gray-800
  dark:text-white
  focus:dark:border-selected-600 focus:ring-0
  rounded-md shadow-inner;
}

.dialog .inputs .input .validation {
  @apply absolute z-10 ml-4 -right-7;
}

.dialog .inputs .input .validation .valid {
  @apply fill-ok-400;
}

.dialog .inputs .input .validation .invalid {
  @apply fill-error-600;
}

.filter {
  @apply sticky top-0 z-10;
}

.filter input[type=text] {
  @apply w-full py-2 px-3 rounded-lg leading-tight border
  bg-secondary-300 border-secondary-300 text-primary-900
  dark:bg-secondary-900/80 dark:border-secondary-900/80 dark:text-primary-200
  focus:ring-0;
}

.filter input[type=text]:focus,
.dialog-container .filter input[type=text]:focus {
  @apply border-selected-400 dark:border-selected-600;
}

.dialog-container .filter input[type=text] {
  @apply dark:border-secondary-800;
}

.filter .chip {
  @apply px-4 py-1 flex items-center
  bg-secondary-200 text-secondary-600 hover:bg-selected-300 
  dark:bg-primary-900/40 dark:text-secondary-200 dark:hover:bg-selected-600
  text-sm capitalize 
  rounded-lg cursor-pointer
  active:transform active:scale-95
  transition duration-200;
}

.filter .hot-chip {
  @apply bg-selected-400 text-secondary-50
  dark:bg-selected-600 hover:dark:bg-selected-500;
}

.filter .chip.iconic {
  @apply aspect-square px-[.475rem] py-0 flex items-center;
}

.filter .chip.favorite svg {
  @apply fill-secondary-400 dark:fill-secondary-200/80;
}

.filter .chip.favorite.hot {
  @apply bg-selected-400
  dark:bg-selected-600 hover:dark:bg-selected-500;
}

.filter .chip.favorite.hot svg {
  @apply fill-attention-200 dark:fill-attention-400 glow-attention-md;
}

.sm-tb-icon-button {
  @apply p-0 w-[26px] h-[26px] bg-transparent dark:bg-transparent flex items-center justify-center rounded-full;
}

.sm-tb-icon-button svg {
  @apply stroke-secondary-600 dark:stroke-secondary-300;
}

.sm-circle-icon-button {
  @apply w-6 h-6 
  flex items-center justify-center
  hover:bg-selected-200 
  dark:hover:bg-selected-600 
  active:transform active:scale-90
  rounded-full cursor-pointer
  transition duration-200;
}

.md-circle-icon-button {
  @apply w-12 h-12 text-4xl
  flex items-center justify-center
  hover:bg-selected-200 
  dark:hover:bg-selected-600 
  active:transform active:scale-90
  rounded-full cursor-pointer
  transition duration-200;
}

.lg-circle-icon-button {
  @apply w-16 h-16 text-4xl
  flex items-center justify-center
  hover:bg-primary-200
  dark:hover:bg-primary-600 
  active:transform active:scale-90
  rounded-full cursor-pointer
  transition duration-200;
}

.rainbow-text {
  @apply bg-clip-text text-transparent 
  bg-gradient-to-r 
  from-purple-500 to-pink-500;
}
