@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&family=Source+Code+Pro:wght@400;700&display=swap');

body {
  @apply bg-secondary-900;
}

.rainbow-text {
  @apply bg-clip-text text-transparent 
  bg-gradient-to-r 
  from-purple-500 to-pink-500;
}
