REACT_APP_DB_USER=
REACT_APP_DB_PASS=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
TENDERLY_FORK_API=https://api.tenderly.co/api/v1/account/yearn/project/yearn-web/fork
TENDERLY_ACCESS_TOKEN=
RPC_CHAIN_1=https://mainnet.infura.io/v3/{apiKey}
